---
import { TagList } from '../components/TagList';
import { BadgeList } from '../components/BadgeList';
import { PackageLinks } from '../components/PackageLinks';
import { Markdown } from 'astro/components';

interface Props {
  pkg: PackageMarkdownFrontmatter;
}

const {
  pkg,
} = Astro.props as Props;

---
<style lang="scss">
  .package {
    position: relative;
    padding-top: var(--s-3);
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-color: rgb(var(--c-gold-1));
      width: 32px;
      height: 8px;
    }
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: var(--s-2);

    .date {
      color: rgb(var(--c-gray-1));
      font-style: italic;
    }

    .company {
      font-weight: bold;
    }
  }
</style>

<article class="package">
  <h3>{pkg.name}</h3>
  <div class="date">{pkg.date}</div>
  <!-- <div class="wrap-list wrap-list-md">
    <PackageLinks size="1.5em" links={pkg.links} />
  </div> -->
  <BadgeList badges={pkg.badges} />
  <div>{pkg.description}</div>
  <a class="asfs link" href={pkg.url}>View More</a>
  <!-- <slot /> -->
</article>
